.body {
    font-family: 'source_sans_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    background: url(/images/pattern.png) repeat 0 0 transparent;
    color: #616161;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, abbr, acronym, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Questrial', sans-serif;
}
.tbl_content label {
    width: 95px;
    float: right;
    text-align: right;
    font-family: Questrial, sans-seri;
    padding: 5px;
    font-size: 14px;
}
.tbl_content td label span {
    color: Red;
}
.tbl_content tr td {
    vertical-align: top;
}
.tbl_content input[type="text"], .tbl_content input[type="password"], .tbl_content textarea, .tbl_content select {
    width: 300px;
    height: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #B9BCBE;
    color: #626161;
    float: left;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 5px 10px;
    padding: 5px;
}
.button:hover {
    border: 1px solid #ff9913;
    background-color: #ffaf46;
    background-image: linear-gradient(to bottom, #ffaf46, #e78404);
}
.button {
    background-color: #FFC579;
    background-image: linear-gradient(to bottom, #FFC579, #FB9D23);
    border: 1px solid #FFAD41;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-right: 2px;
    margin-top: 5px;
    padding: 6px 25px;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
h2.HeadIn {
    font: bold 14px/40px Verdana, Geneva, sans-serif;
    color: #5c5c5d;
    padding: 8px;
    text-align: center;
}
.divLogin {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;
    height: 365px;
    margin-top: -200px;
    width: 500px;
    margin-left: -250px;
    background-color: #FFF8DC;
    border: 1px solid #E0DCBF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #FFFFFF inset;
    color: #444444;
}
.divLogin div {
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
img {
    border: 0;
    /* display: block; */
}


/*-------------------- Client Manage -----------------------*/
.button_logout {
    border: 1px solid #ffad41;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    /* padding: 10px 10px 10px 10px; */
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #ffc579;
    height: 18px;
    width: 60px;
    background-image: linear-gradient(to bottom, #ffc579, #fb9d23);
}
ul.login-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
}
.header-tr {
    padding: 55px 20px 0 0;
    margin: 0;
    display: block;
    float: right;
    width: 600px;
    border: none;
    outline: none;
}
h1.logo {
    float: left;
    overflow: hidden;
    padding: 0;
    margin: 3px 0 0 30px;
    display: block;
    background: url(../assets/images/logo.png) no-repeat 0 0;
    width: auto;
    height: 87px;
    border: none;
    outline: none;
    position: relative;
    z-index: 100;
}
.widget {
    margin: 0 auto;
    /* width: 960px; */
    height: 20px;
    clear: both;
    display: block;
}
.head {
    background: #FFF;
    padding: 0;
    margin: 0;
    clear: both;
    /* overflow: hidden; */
    border: none;
    outline: none;
    min-height: 90px;
}
#header .head {
    position: relative;
    z-index: 300;
}
.content, .supplier-data, .users-data {
    padding: 0;
    margin: 0;
    clear: both;
    overflow: visible;
    border: none;
    outline: none;
    display: block;
}
#header {
    width: 100%;
    clear: both;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    min-height: 152px;
}
.login-links li {
    margin: 0 0 0 7px;
    padding: 0;
    float: left;
    font: bold 11px Arial, Helvetica, sans-serif;
    color: #333;
}
#navigation {
    width: 100%;
    margin: 0;
    height: 39px;
    padding: 0;
    clear: both;
    position: relative;
    /* z-index: 200; */
}
#navigation span.ltcorn {
    /* background: url(../images/nav_lt.png) 0 0 no-repeat; */
    width: 29px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
#navigation span.rtcorn {
    /* background: url(../images/nav_rt.png) 0 0 no-repeat; */
    width: 29px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
#navigation .menu {
    padding: 0;
    margin: 0;
    clear: both;
    height: 36px;
    display: block;
    background: url(../assets/images/nav_bg.png) repeat-x 0 0;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #EBE0CA;
    border-style: none none none solid;
}
#navigation .menu-widget {
    padding: 0 20px;
    margin: 0 auto;
    clear: both;
    /* width: 960px; */
    display: block;
}
#navigation a {
    border: none;
    border-left: 1px solid #ebe0ca;
    color: #666667;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 33px;
    font-weight: 600;
    display: block;
    outline: 0;
    text-decoration: none;
    padding: 1px 16px 2px;
    margin: 0;
    text-align: center/*text-shadow:1px 1px 1px #ccc;*/;
}
#navigation a:hover {
    color: #FFF;
    background: #EAAB1E;
}
#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    clear: both;
    float: left;
    display: block;
    height: 26px;
}
#navigation ul li {
    float: left;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
}
.divLeft {
    float: left;
    width: 50%;
}
.divRight {
    display: inline;
    text-align: right;
    float:right;
}
.clear {
    clear: both;
}
.searchCont {
    background-color: #faefd7;
    border: 1px solid #e1d6bf;
    padding: 11px;
}
table.tbl_content {
    padding: 14px;
    margin: 0;
    clear: both;
    overflow: hidden;
    border: none;
    outline: none;
    width: 700px;
}
.tbl_content select {
    padding: 9px 3px;
    height: 37px;
    width: 312px;
    font-family: 'Questrial', sans-serif;
}
#navigation ul div.child-dropdown {
    padding: 0 20px;
}
#navigation ul div.child-dropdown ul {
    width: auto;
    float: none;
}
.child-dropdown {
    width: 97%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    text-align: left;
    padding: 0;
    border: none;
    border-bottom: 1px solid #101010;
    background: #373737;
    height: 25px;
    display: none;
}
#navigation li div.child-dropdown li a {
    text-align: center;
    margin: 0;
    border: none;
    border-left: 1px solid #545454;
    line-height: 23px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 11px;
}
#navigation a.selected {
    color: #FFF;
    background: #EAAB1E;
}
.clientcont table {
    border: 1px solid #e1d6bf;
    border-collapse: collapse;
    background-color: #faefd7;
}
.gridlist {
    width: 100%;
    background-color: #DEBA84;
    border-color: #DEBA84;
    border-style: none;
    border-width: 1px;
}
.gridlist tr {
    background-color: #F7F7F7;
}
.clientcont table th {
    border: 1px solid #e1d6bf;
    padding: 5px 10px;
    background-color: #818181;
    font-family: 'Questrial', sans-serif;
}
.gridlist tr th {
    text-align: center;
    cursor: pointer;
}
.gridlist tr th {
    /* background-color: #A55129; */
    color: #FFFFFF;
    font-weight: bold;
}
.gridlist tr:nth-child(2n) {
    background-color: #FFFFFF;
}
.clientcont table td {
    border: 1px solid #e1d6bf;
    padding: 5px 10px;
    font-size: 13px;
    font-family: 'Questrial', sans-serif;
}
.gridlist tr td {
    text-align: center;
}
h2.HeadInSearch {
    font: bold 14px/40px Verdana, Geneva, sans-serif;
    color: #5c5c5d;
    padding: 8px;
    text-align: left;
}
/* Client */
.searchCont {
    background-color: #faefd7;
    border: 1px solid #e1d6bf;
    padding: 11px;
}
.but-left {
    margin-left: 12px;
}